* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 5rem;
	font-weight: bold;
}

.text-main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.countdown {
	display: flex;
	justify-content: space-around;
}

.day,
.hour,
.minute,
.second {
	font-size: 3rem;
}

.waiting {
	height: 50vh;
}
